//- https://lazyflora.com/collections/plants-for-beginners
doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Animation test
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        section
            h2 Animation на css с transform
            button.buttonFirstAnim Запустить анимацию
            .firstAnim
        section
            h2 Animation на css с изменением width и height.
            button.buttonSecondAnim Запустить анимацию
            .secondAnim
            br
        section
            h2 Движение setInterval
            button.buttonThirdAnim Запустить анимацию
            .thirdAnim
        section
            h2 Движение requestAnimationDrame
            button.buttonForthAnim Запустить анимацию
            .forthAnim

        script(src="/js/index.js")


